<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% const statusCode = 404 %>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/create">New blog</a>
    </nav>
    <h1>Check your internet connection! <%= statusCode %> </h1>
</body>
</html>