<!DOCTYPE html>
<html lang="en">
<%- include('./partials/title.ejs')  %>
<body>
    <% const statusCode = 404 %>
    <%- include('./partials/nav.ejs') %>
    <h1>Check your internet connection! <%= statusCode %> </h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>