<!DOCTYPE html>
<html lang="en"></html>
<%- include('./partials/title.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Hello from about</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>